.bicycles {
  background-color: $white-1;
  padding-top: 119px;
  padding-bottom: 127px;
  margin-top: 130px;
}

.bicycles__head {
  margin-bottom: -6px;
  font-size: 30px;
}

.bicycles__photos-block {
  max-width: 1176px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 51px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(257px, max-content));
  justify-content: center;
  grid-gap: 50px;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
}

.bicycles__photo {
  position: relative;
  height: max-content;
  width: fit-content;

  img {
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.bicycles__photo p {
  margin-top: 11px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.bicycles__photo:first-child,
.bicycles__photo:nth-child(3n+1) {
  margin-top: 11px;

  img {
    z-index: 2;
  }

  &::after {
    background-image: url("../img/ellipse-1.svg");
    width: 180px;
    height: 180px;
    z-index: 1;
    left: -60px;
    top: 156px;
  }
}

.bicycles__photo:nth-child(2n):not(:nth-child(4n)):not(:nth-child(6n)),
.bicycles__photo:nth-child(5n) {
  margin-top: 39px;

  &::after {
    background-image: url("../img/rectangle-1.svg");
    width: 47px;
    height: 47px;
    top: -19px;
    left: -20px;
  }

  &::before {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/rectangle-2.svg");
    width: 47px;
    height: 47px;
    right: -23px;
    bottom: 53px;
    z-index: 1;
  }
}

.bicycles__photo:nth-child(3n) {
  // margin-top: 51px;

  &::after {
    background-image: url("../img/ellipse-2.svg");
    width: 95px;
    height: 95px;
    top: -33px;
    right: -36px;
  }
}

@media (max-width: $tablet-width) {
  .bicycles {
    margin-top: 24px;
    padding-top: 35px;
    padding-bottom: 48px;
  }

  .bicycles__head {
    margin-bottom: 5px;
  }

  .bicycles__photos-block {
    max-width: 670px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: unset;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
  }

  .bicycles__photo:first-child,
  .bicycles__photo:nth-child(3n + 1) {
    margin-top: 30px;
    margin-right: 50px;

    img {
      border-radius: 10px;
      width: 270px;
      height: 300px;
      object-fit: cover;
    }

    &::after {
      width: 127px;
      height: 127px;
      left: -38px;
      top: 202px;
    }
  }

  .bicycles__photo:nth-child(2n):not(:nth-child(4n)):not(:nth-child(6n)),
  .bicycles__photo:nth-child(5n) {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;

    img {
      border-radius: 10px;
      width: 270px;
      height: 300px;
      object-fit: cover;
    }

    &::after,
    &::before {
      visibility: hidden;
    }
  }

  .bicycles__photo:nth-child(3n) {
    margin-top: 30px;

    img {
      border-radius: 10px;
      width: 270px;
      height: 300px;
      object-fit: cover;
    }

    &::after {
      width: 68px;
      height: 68px;
      top: -21px;
      right: -25px;
    }
  }
}

@media (max-width: $mobile-width) {
  .bicycles {
    padding-top: 34px;
    padding-bottom: 32px;
    margin-top: 35px;
  }

  .bicycles__head {
    margin-bottom: 35px;
  }

  .bicycles__photos-block {
    max-width: 320px;
    margin: 4px auto auto auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .bicycles__photo {
    width: 270px;
    margin: auto;
  }

  .bicycles__photo:first-child,
  .bicycles__photo:nth-child(3n + 1) {
    margin: 29px auto auto auto;

    &::after {
      left: -25px;
    }
  }

  .bicycles__photo:nth-child(2n):not(:nth-child(4n)):not(:nth-child(6n)),
  .bicycles__photo:nth-child(5n) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
  }

  .bicycles__photo:nth-child(3n) {
    margin: auto;
    margin-top: 44px;

    &::after {
      right: -14px;
    }
  }
}
