.contacts {
  max-width: 957px;
  margin: auto;
}

.contacts__head {
  font-size: 30px;
}

.contacts__title {
  margin-bottom: 42px;
  max-width: 550px;
  font-size: 17px;
  line-height: 31px;
  margin-top: 24px;
}

.contacts__links {
  max-width: 573px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  grid-column-gap: 90px;
  grid-row-gap: 20px;
  margin: 0 203px 18px auto;
}

.contacts__link {
  white-space: nowrap;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $gray-darck;
  text-decoration: none;
  padding-left: 45px;
  transition: all 0.3s;

  &::after {
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 4px;
  }

  &--email::after {
    background-image: url("../img/mail.svg");
    width: 26px;
    height: 20px;
  }

  &--phone::after {
    background-image: url("../img/phone.svg");
    width: 21.5px;
    height: 22.62px;
  }

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  margin-bottom: 39px;

  iframe {
    display: block;
    overflow: hidden;
  }
}


@media (max-width: $tablet-width) {
  .contacts__title {
    margin-bottom: 20px;
    margin-top: 0;
    max-width: 629px;
  }

  .contacts__head {
    margin-top: -2px;
  }

  .contacts__map {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 12px;
    height: 545px;
  }

  .contacts iframe {
    width: 100%;
    height: 100%;
  }

  .contacts__links {
    margin-top: 20px;
    max-width: 538px;
    margin-right: auto;
  }

  .contacts__link {
    padding-left: 32px;

    &--email {
      margin-right: 70px;
    }

    &::after {
      left: -8px;
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    h2 {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .contacts__title {
    margin-top: 20px;
    max-width: 270px;
  }

  .contacts__map {
    padding-left: 0;
    padding-right: 0;
    height: 250px;
  }

  .contacts__links {
    margin-top: 31px;
    justify-content: center;
    flex-direction: column;
  }

  .contacts__link {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    &:first-child {
      padding-left: 48px;

      &::after {
        left: 8px;
      }
    }

    &:last-child {
      padding-left: 24px;

      &::after {
        left: -11px;
      }
    }
  }
}
