.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

.page-body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
