// Разрешение

$tablet-width: 1439px;
$mobile-width: 767px;

// Цвета

$white:#ffffff;
$white-1:#F6F7F9;

$red:rgb(187, 49, 90);

$black:#000000;
$black:#131314;

$gray-darck:rgba(0, 0, 0, 0.5);
$gray-medium:#48494D;
$gray-medium-1:rgba(255, 255, 255, 0.2);
$gray-light:#C9CCD4;

$green:#0AD9C6;
$green-darck:#10b3a4;
